dist
node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
.eslintcache
yarn-error.log
.DS_Store
public/js/*.js
public/js/*.map
public/js/*.ts
browser
.envrc
*.log
public/js/notabene.js
*.tsbuildinfo
temp
package.tgz
coverage
ts-out
